<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themesbox.in/admin-templates/olian/html/light-vertical/error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Aug 2021 12:10:23 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Olian is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="admin, admin panel, admin template, admin dashboard, admin theme, bootstrap 4, responsive, sass support, ui kits, crm, ecommerce">
    <meta name="author" content="Themesbox17">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Olian - Bootstrap Minimal & Clean Admin Template</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="~/Areas/UserBackend/Content/assets/images/favicon.ico">
    <!-- Start CSS -->
    <link href="~/Areas/UserBackend/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/UserBackend/Content/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/UserBackend/Content/assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- End CSS -->
</head>
<body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg">
        <!-- Start Container -->
        <div class="container">
            <div class="auth-box error-box">
                <!-- Start row -->
                <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-8 col-lg-6">
                        <div class="text-center">
                            <img src="~/Areas/UserBackend/Content/assets/images/logo.svg" class="img-fluid error-logo" alt="logo">
                            <img src="~/Areas/UserBackend/Content/assets/images/error/404.svg" class="img-fluid error-image" alt="404">
                            <h4 class="error-subtitle mb-4">Oops! Page not Found</h4>
                            <p class="mb-4">We did not find the page you are looking for. Please return to previous page or visit home page. </p>
                            <a href="index.html" class="btn btn-primary font-16"><i class="ri-home-5-line mr-2"></i> Go back to Dashboard</a>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
    <script src="~/Areas/UserBackend/Content/assets/js/jquery.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/js/popper.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/js/modernizr.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/js/detect.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/js/jquery.slimscroll.js"></script>
    <!-- End js -->
</body>

<!-- Mirrored from themesbox.in/admin-templates/olian/html/light-vertical/error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Aug 2021 12:10:23 GMT -->
</html>