
@{
    ViewBag.Title = "EditPrivateSeller";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section title { Private Sellers }
@section section_title { Private Sellers }
@section breadcrumb { Private Sellers }

<h2>EditPrivateSeller</h2>

