
@{
    ViewBag.Title = "EditAgent";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section title { Agents }
@section section_title { Agents }
@section breadcrumb { Agents }
<h2>EditAgent</h2>

