
@{
    ViewBag.Title = "ListPosted";
    Layout = "~/Areas/UserBackend/Views/Shared/_Layout.cshtml";
}

@section css {
    <!-- DataTables css -->
    <link href="~/Areas/UserBackend/Content/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/UserBackend/Content/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

@section page_title { Posted Articles}
@section breadcrumb { Posted Articles }

<div class="row">
    <!-- Start col -->
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-header">
                <h5 class="card-title">Posted Articles</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="default-datatable" class="display table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End col -->
</div>

@section scripts {
    <!-- Datatable js -->
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/Areas/UserBackend/Content/assets/js/custom/custom-table-datatable.js"></script>
}

